@using Proyecto_DSWI.Models
@model Proyecto_DSWI.Models.Producto

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="background-color: white; margin-top:40px; padding:20px; border-radius: 20px">

    <h2 class="mt-5">Detalles</h2>

    @{
        Usuario u = (Usuario)Session["usuario"];
        if (u == null)
        {
            Response.Redirect("~/");
        }
        else
        {
            if (u.TipoUsuarioId != 1)
            {
                Response.SetStatus(403);
            }
            else
            {
                <div>
                    <h4>Producto</h4>
                    <hr />
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <p class="h3"> @Html.DisplayNameFor(model => model.Nombre)</p>
                                <small class="text-muted">@Html.DisplayFor(model => model.Nombre)</small>
                                <p class="h3"> @Html.DisplayNameFor(model => model.Precio)</p>
                                <small class="text-muted"> @Html.DisplayFor(model => model.Precio)</small>
                                <p class="h3"> @Html.DisplayNameFor(model => model.FechaCreacion)</p>
                                <small class="text-muted">
                                    @Html.DisplayFor(model => model.FechaCreacion)
                                </small>
                                <p class="h3"> @Html.DisplayNameFor(model => model.Categoria)</p>
                                <small class="text-muted">
                                    @Html.DisplayFor(model => model.Categoria)
                                </small>
                                <p class="h3"> @Html.DisplayNameFor(model => model.Stock)</p>
                                <small class="text-muted"> @Html.DisplayFor(model => model.Stock)</small>
                            </div>
                            <div class="col">
                                <p class="h3">@Html.DisplayNameFor(model => model.Foto)</p>
                                <img src="~/fotos/@Model.Foto" class="img-fluid" style="width:300px; height:300px">
                            </div>
                        </div>

                    </div>
                </div>
                <p>
                    @Html.ActionLink("Editar", "Edit", new { productoId = Model.ProductoId }, new { @class = "btn btn-warning" })
                    @Html.ActionLink("Regresar", "ListadoCrud", null, new { @class = "btn btn-primary" })
                </p>
            }
        }
    }

</div>
